.slider {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border: 3px solid black;
}

.right-arrow {
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}


.slide {
    opacity: 0;
    transition-duration: 1s ease;
        display: flex;
        align-items: center;
        justify-content: center;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    flex: 0 0 70%;
}
.carousel__container {
    margin: 0 0 10px 0;
    width: 100%;
    height: 55vh;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: flex;
}

.carousel__text {
    width: 50%;
    height: 100%;
    overflow-wrap: break-word;
    padding-left: 100px;
    /* padding-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__text p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 8vw;
}

.carousel {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__album {
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

.carousel__album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__container.starboy {
    background-color: #c8043a;
    color: #d8ac0e;
}

.carousel__container.blonde {
    background-color: #e1e3e2; 
    color: #3a5733
}

.carousel__container.igor {
    background-color: #f2acc0;
    color: #35322e;
} 

.carousel__container.ye {
    background-color: #f6c829;
    color: #0196c0;
} 

.hidden {
    display: none;
}

@media (max-width: 730px) {
    .carousel__container {
        flex-direction: column;
    }
    .carousel__text {
        width: 100%;
        height: 20%;
        padding: 20px 0 0 0;
    }
    .carousel {
        height: 80%;
        width: 100%;
    }
    .image {
        width: 50%;
        height: 50%;
    }
}