.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 3px solid black;
    
}

.header__logo {
    display: flex;
    align-items: center;
    margin: 0 25px;
    cursor: pointer;
}

.header__logo-link {
    text-decoration: none;
    font-size: medium;
    color: #000;
}

.header__logo-link {
    text-decoration: none;
    font-size: medium;
    color: #000;
}

.header__logoImage {
    color: #fce919f5;
}

.header__logoTitle {
    text-decoration: none;
    border: 0;
    color: black
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0;
    width: 50%;
}

.header__searchInput {
    height: 40px;
    padding: 10px;
    width: 100%;
    border: 4px solid #000;
}

.header__searchIcon-container {
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: #fce919f5;
    cursor: pointer;
}

.header__searchIcon {
    position: relative;
    top: 5px;
    left: 5px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px 10px;
}

.nav__item {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: black;
}

.nav__itemBag {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 4px;
    margin: 0 10px 0 10px;
}

.nav__itemBagLink {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.nav__itemBagLink:active {
    color: black;
    text-decoration: none;
}

.nav__itemLineOne {
    font-size: 10px;
    cursor: pointer;
}

.nav__itemLineTwo {
    font-size: 13px;
    font-weight: 800;
    cursor: pointer;
}

.nav__itemBasket {
    display: flex;
    align-items: center;
    color: black;
    margin: 0 50px 0 10px;
}

.nav_basketCount {
    margin: 0 10px;
}


@media (max-width: 730px) {
    .header__nav a:first-child {
        display: none;
    }

    .header__logoTitle {
        display: none;
    }
    
}