.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 15%;
    left: 10%;
    z-index: 1000;

}

.modal-product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}


.modal-product-figure {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
	/* border-bottom: 3px solid black; */
}

.modal-product-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-product-div {
    width: 40%;
    height: 100%;
    padding: 40px;
    background-color: white;
}

.modal-product-div-title {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 700;
}

.modal-product-div-artist, .modal-product-div-description, .modal-product-div-price  {
    font-weight: 700;
    font-size: 16px;
}

.modal-product-div-button {
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    width: 40%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.modal-product-div-button:hover {
    /* background-color: rgb(255, 180, 193); */
    background-color: yellow;
}

.close {
    margin: 5px 5px 0 0;
    transform: rotate(45deg);
}

.modal-notification {
    position: fixed;
    margin: 0 0 50px 0;
    display: none;
    padding: 5px 0px 5px 20px;
    align-items: center;
    z-index: 500;
    /* top: 5; */
    bottom: 0;
    /* left: 0; */
    right: 0;
    background-color: yellow;
    width: 17%;
    height: 6vh;
    border: 3px solid black;
    z-index: 10000;
    font-weight: 700;
    font-size: 16px;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-notification-display {
    position: fixed;
    margin: 0 0 50px 0;
    display: flex;
    padding: 5px 0px 5px 20px;
    align-items: center;
    z-index: 500;
    /* top: 5; */
    bottom: 0;
    /* left: 0; */
    right: 0;
    background-color: yellow;
    width: 17%;
    height: 6vh;
    border: 3px solid black;
    font-weight: 700;
    z-index: 10000;

    font-size: 16px;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (max-width: 1100px) {
    .modal {
    overflow-x: scroll;
    }
    .modal-product {
        flex-direction: column;
    }
    .modal-product-figure {
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-product-figure img {
        width: 50%;
        height: 100%;
    }
    .modal-product-div {
        width: 100%;
        padding: 0 40px 0 40px;
    }
    .modal-product-div-title {
        font-size: 7vw;
    }
    .modal-product-div-artist, .modal-product-div-description, .modal-product-div-price {
        font-size: 2.5vw;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
    .modal-product-div-button {
        font-weight: 700;
        font-size: 2.5vw;
        background-color: white;
        width: 40%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        border: 3px solid black;
    }
}